body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #ff69b4;
  }
  
  h2 {
    color: #ff69b4;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  ol {
    padding-left: 20px;
  }
  
  ol li {
    margin-bottom: 10px;
  }
  
  /* Estilo para links */
  a {
    color: #ff69b4;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  